name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build image
      run: docker build -t docker-c .
    - name: push to DockerHub
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: myDocker/repository
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
   
  codestyle_check:
   runs-on: ubuntu-latest
   
   steps:
     - uses: actions/checkout@v2
     - name: codestyle_check
       uses: CyberZHG/github-action-python-lint@master
     - name: get update
       run: sudo apt-get update -y
     - name: get install
       run: sudo apt-get install -y cppcheck
     - name: check
       run: cppcheck cppcheck -q --enable=all ./magic-project/main.c

