name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Get the version
      id: vars
      run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})
    - name: Build the tagged Docker image
      run: docker build . --file Dockerfile --tag rentol/magic:${{steps.vars.outputs.tag}}
    - name: Push the tagged Docker image
      run: docker push rentol/magic:${{steps.vars.outputs.tag}}
    - name: Build the latest Docker image
      run: docker build . --file Dockerfile --tag rentol/magic:latest
    - name: Push the latest Docker image
      run: docker push rentol/magic:latest  
   
  codestyle_check:
   runs-on: ubuntu-latest
   
   steps:
     - uses: actions/checkout@v2
     - name: codestyle_check
       uses: CyberZHG/github-action-python-lint@master
     - name: get update
       run: sudo apt-get update -y
     - name: get install
       run: sudo apt-get install -y cppcheck
     - name: check
       run: cppcheck cppcheck -q --enable=all ./magic-project/main.c

